---
title: "Archive"
---
<ul>
  {% for post in site.posts %}

    {% unless post.next %}
      <taiwei:g3>{{ post.date | date: '%Y' }}</taiwei:g3>
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
        <taiwei:g3>{{ post.date | date: '%Y' }}</taiwei:g3>
      {% endif %}
    {% endunless %}

    <li>{{ post.date | date:"%B" }}: <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
